/*
Theme Name: Ai Mastery
Theme URI: https://art-cube.com.ua/
Description: Lending
Author: Alexl
Author URI: https://i-wp-dev.com/
Version: 1.1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ai-mastery
*/

#cmplz-manage-consent {
	display: none;
}

html {
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	max-width: 100vw;
}