.modal-open {
	overflow: hidden
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}

.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0
}


.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
	margin-top: -2px
}

.modal-title {
	margin: 0;
	line-height: 1.42857143
}

.modal-body {
	position: relative;
	padding: 20px
}

.modal-footer {
	padding: 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}

.modal-footer .btn + .btn {
	margin-left: 5px;
	margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
	margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
	margin-left: 0
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 1000px;
		margin: 30px auto
	}

	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
	}

	.modal-sm {
		max-width: 400px;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.modal-lg {
		width: 900px
	}
}